@tailwind base;
@tailwind components;
@tailwind utilities;

body,html{
    scroll-behavior: unset !important;
}
/* ---------------------- navbar dropdown ------------------  */

.account-dropdown{
    position: absolute;
    background-color: #fff;
    color: #000;
    width: 250px;
    top: 140px;
    right: 55px;
    text-align: left;
    padding: 10px 15px;
    visibility: hidden;
    opacity: 0;
    transition: all linear 0.3s;
    border-radius: 5px;
    z-index: 999;
}
.account-dropdown li{
    padding: 10px 0;
}
.account-drop:hover .account-dropdown{
    visibility: visible;
    opacity: 1;
    box-shadow: 5px 5px 5px #888;
}

.cart-dropdown{
    position: absolute;
    background-color: white;
    color: #000;
    padding: 15px 15px;
    width: 300px;
    top: 140px;
    right: 200px;
    visibility: hidden;
    opacity: 0;
    transition: all linear 0.3s;
    border-radius: 5px;
    z-index: 999;
}
.cart-drop:hover .cart-dropdown{
    visibility: visible;
    opacity: 1;
    box-shadow: 5px 5px 5px #888;
}

/* -----------------------------  header part dropdown ----------------------  */

.dropdown-1{
    background-color: #fff;
    padding: 12px 20px;
    position: absolute;
    top: 50px;
    right: 120px;
    color: #000;
    visibility: hidden;
    opacity: 0;
    transition: all linear 0.3s;
    border-radius: 5px;
    font-size: 18px;
}
.drop-1:hover .dropdown-1{
    visibility: visible;
    opacity: 1;
    top: 55px;
    box-shadow: 5px 5px 5px #888;

}
.dropdown-2{
    background-color: #fff;
    padding: 12px 20px;
    position: absolute;
    top: 50px;
    right: 40px;
    color: #000;
    visibility: hidden;
    opacity: 0;
    transition: all linear 0.3s;
    border-radius: 5px;
    font-size: 18px;
}
.drop-2:hover .dropdown-2{
    visibility: visible;
    opacity: 1;
    top: 55px;
    box-shadow: 5px 5px 5px #888;

}


/* ------------------------------- inner nav drop down ------------------  */

.dropdown-3{
    background-color: #fff;
    position: absolute;
    width: 200px;
    padding: 15px 0 15px 15px;
    bottom: auto;
    right: auto;
    color: #000;
    visibility: hidden;
    opacity: 0;
    transition: all linear 0.3s;
    border-radius: 5px;
    font-size: 18px;
    z-index: 999;
}
.drop-3:hover .dropdown-3{
    visibility: visible;
    opacity: 1;
    box-shadow: 5px 5px 5px #888;

}

.dropdown-4 {
    background-color: #fff;
    position: absolute;
    width: 200px;
    padding: 15px 0 15px 15px;
    bottom: auto;
    right: auto;
    color: #000;
    visibility: hidden;
    opacity: 0;
    transition: all linear 0.3s;
    border-radius: 5px;
    font-size: 18px;
    z-index: 999;
}
.drop-4:hover .dropdown-4{
    visibility: visible;
    opacity: 1;
    box-shadow: 5px 5px 5px #888;

}
.dropdown-5 {
    background-color: #fff;
    position: absolute;
    width: 200px;
    padding: 15px 0 15px 15px;
    bottom: auto;
    right: auto;
    color: #000;
    visibility: hidden;
    opacity: 0;
    transition: all linear 0.3s;
    border-radius: 5px;
    font-size: 18px;
    z-index: 999;
}
.drop-5:hover .dropdown-5{
    visibility: visible;
    opacity: 1;
    box-shadow: 5px 5px 5px #888;
}

.dropdown-7{
    background-color: #fff;
    position: absolute;
    width: 200px;
    padding: 15px 0 15px 15px;
    bottom: auto;
    right: auto;
    color: #000;
    visibility: hidden;
    opacity: 0;
    transition: all linear 0.3s;
    border-radius: 5px;
    font-size: 18px;
    z-index: 999;
}
.drop-7:hover .dropdown-7{
    visibility: visible;
    opacity: 1;
    box-shadow: 5px 5px 5px #888;
}

.dropdown-8{
    background-color: #fff;
    position: absolute;
    width: 200px;
    padding: 15px 25px;
    top: auto;
    right: auto;
    color: #000;
    visibility: hidden;
    opacity: 0;
    transition: all linear 0.3s;
    border-radius: 5px;
    font-size: 18px;
    z-index: 999;
}
.drop-8:hover .dropdown-8{
    visibility: visible;
    opacity: 1;
    box-shadow: 5px 5px 5px #888;
}



